<!--modal /-->
<div class='modal' id='modal-id'>
   <div class='modal__wrap'>

      <div class='modal__header'>
         <p class='modal__title'>Modal Title</p>
      </div>

      <div class='modal__content'>
         Content
      </div>

   </div>

   <button class='modal__close' type='button'>
      {{ icon (iconName='close') }}
      <span data-reader>Закрыть</span>
   </button>

</div>
<!--/ modal-->
