{% macro check (extClass, checkName) %}

   <label class='{{ extClass }} check'>
      <input type='checkbox' class='check__input'>
      <span class='check__title'>{{ checkName }}</span>
   </label>

{% endmacro %}
