# gitignore.io
*_XT*
archive
node_modules
npm-debug.log
webapp
*.diff
*.err
*.log
/.vscode/

# linux
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

# windows
*.lnk
*.stackdump
[Dd]esktop.ini
ehthumbs.db
Thumbs.db

# macos
.AppleDouble
.DS_Store
.LSOverride
._*
Icon
