@font-face {
   src: url('/src/assets/fonts/jetbrainsmono-regular.woff2') format('woff2');
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-weight: 400;
   font-style: normal;
}

@font-face {
   src: url('/src/assets/fonts/jetbrainsmono-bold.woff2') format('woff2');
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-weight: 700;
   font-style: normal;
}
