<!DOCTYPE html>
<html
   lang='en' prefix='og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# {%
      if openGraph == "article"
         %}article: https://ogp.me/ns/article#{%
      else
         %}website: https://ogp.me/ns/website#{%
      endif
   %}'
>
