<div class='module-class input-quantity'>
   <button class='input-quantity__action' type='button'>−</button>
   <input
      class='input-quantity__field' type='text'
      name='input-quantity__field' value='1'
   >
   <button class='input-quantity__action' type='button'>+</button>
</div>

{# //module-name
.module-name__item

   .upload-input.upload-input--modifier
      input(type='file' name='module-name__element' id='module-name__element' multiple)

//module-name #}
