{% extends 'layouts/default.njk' %}

{# -- CONFIG -------------------------------------------- #}

{% set pageTitle = 'Homepage' %}
{% set pageCrumb = 'Back to Homepage' %}
{% set pageDesc  = '' %}

{% set pageClass = 'homepage' %}
{% set pageURI   = '/' %}
{% set pageNode  = '/' %}
{% set pageLevel = '' %}
{% set pagePrev  = '' %}

{% set openGraph = 'website' %}
{% set loadAnim  = 'hero' %}
{% set themeType = 'default' %}


{# -- HEADER -------------------------------------------- #}

{% block AppHeader %}

   {# section #}
   {# <div class='section'>
      {% include 'modules/content/ModuleName/ModuleName.njk' %}
   </div> #}

{% endblock %}


{# -- CONTENT ------------------------------------------- #}

{% block AppContent %}

   {# section #}
   {# <div class='section'>
      {% include 'modules/content/ModuleName/ModuleName.njk' %}
   </div> #}

{% endblock %}


{# -- FOOTER -------------------------------------------- #}

{% block AppFooter %}

   {# section #}
   {# <div class='section'>
      {% include 'modules/content/ModuleName/ModuleName.njk' %}
   </div> #}

{% endblock %}
