{# -- GENERAL ------------------------------------------- #}

{% set projectName = 'X-Node Web' %}
{% include 'layouts/__chunks/__openHTML.njk' %}


{# -- ELEMENTS ------------------------------------------ #}

{% from 'elements/xnode/icons/icons.njk' import icon with context %}
{% from 'elements/xnode/buttons/buttons.njk' import button with context %}
{% from 'elements/xnode/checks/checks.njk' import check with context %}
{% from 'elements/xnode/headers/headers.njk' import header with context %}


{# -- TEMPLATE ------------------------------------------ #}

{% include 'layouts/__chunks/__mainHead.njk' %}

<body class='app-body anim-{{ loadAnim }} theme-{{ themeType }}' id='xnode-web'>
   <header class='app-header{% if pageClass=="homepage" %} mod-hero{% endif %}' data-js='app-header'>

      {% block AppHeader %}
      {% endblock %}

      {# {% include 'elements/carcass/main-navbar/main-navbar.njk' %} #}

   </header>
   <main class='app-content{% if pageClass=="errors" %} mod-spec{% endif %}'>

      {% block AppContent %}
      {% endblock %}

   </main>
   <footer class='app-footer'>

      {% block AppFooter %}
      {% endblock %}

      <div class='section'>
         {# {% include 'elements/carcass/main-footer/main-footer.njk' %} #}
      </div>

   </footer>
   <div class='app-overlay' data-js='app-overlay'>

      {% block AppOverlay %}
      {% endblock %}

   </div>
</body>

{% include 'layouts/__chunks/__closeHTML.njk' %}
